.summary {
    margin: 0 0 0 30px;
    overflow-x: hidden;
}

p {
    display: block;
    white-space: pre-wrap;
}

.back-btn {
    width: fit-content;
    display: inline-flex;
    align-items: center;
}